/* Global Styles */
* {
    margin: 0;
    padding: 0;
    font-weight: 400;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', sans-serif;
}
body {
    color: #ffffff;
    background-color: #2b2b2b;
}
h1 {
    font-size: 7vh;
}
p {
    font-size: 2vh;
}



.parallax-wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}
.parallax-image {
    transform-style:preserve-3d;
    z-index:-1000;
    transform:translateZ(-10px) scale(2);
    background-image:linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)),url(images/background.jpg);
    background-size:cover;
    background-position:center;
    width:100%;
    height:100vh;
}

.banner-section {
    height: 100vh;
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0);
    position: absolute;
    z-index:1;
    transform: translateY(-50%);
    top: 90%;
}
.normal-button button {
    width:14vw;
    font-size:1.5vh;
    padding:15px 0;
    text-align:center;
    margin:20px 10px;
    border-radius:25px;
    font-weight:700;
    border:2px solid #ff6a00;
    background:transparent;
    color:#fff;
    cursor:pointer;
    text-transform:uppercase;
    position:relative;
    overflow:hidden;
    font-weight:bold;
}
.normal-button button:hover {
    background-color: #ff6a00;
    border: 2px solid #ff6a00;
}
.normal-button span {
    background:#ff6a00;
    height:100%;
    width:0;
    border-radius:25px;
    position:absolute;
    left:0;
    bottom:0;
    z-index:-1;
    transition:280ms;
}
.normal-button button:hover span {
    width: 100%;
}
.scroll-text {
    transition: all 1s;
}

.info-section {
    position: relative;
    width: 100%;
    z-index: 1;
    background: #2b2b2b;
}
.info-container {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    gap: 1.5em;
    
    width: 100%;
}
#info-box { 
    padding: 20px; 
    max-width: 30vw;
    height: 38.5vh;
    text-align: center;
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.54);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    border: 1px solid rgba(0, 0, 0, 0.16);
    overflow-y: hidden;
}
#info-box p {
    text-align: left;
}
#info-box:hover {
    flex-grow: 3;
    max-width: 90vw;
}
#info-box-bar {
    width: 100%;
    height: 4px;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.info-consensus {
    order: 1;
    border-radius: 10px;
    border: 2px solid #FF0000;
}
.info-consensus:hover { order: 0; }
.info-consensus div { background-color: #FF0000; }
.info-encryption {
    order: 1;
    border-radius: 10px;
    border: 2px solid #008000;
}
.info-encryption:hover { order: 0; }
.info-encryption div { background-color: #008000; }
.info-ringsignatures {
    order: 1;
    border-radius: 10px;
    border: 2px solid #0000FF;
}
.info-ringsignatures:hover { order: 0; }
.info-ringsignatures div { background-color: #0000FF; }
.info-stealthaddresses {
    order: 3;
    border-radius: 10px;
    border: 2px solid #00FFFF;
}
.info-stealthaddresses:hover { order: 2; }
.info-stealthaddresses div { background-color: #00FFFF; }
.info-sharding {
    order: 3;
    border-radius: 10px;
    border: 2px solid #FF00FF;
}
.info-sharding:hover { order: 2; }
.info-sharding div { background-color: #FF00FF; }
.info-containerization {
    order: 3;
    border-radius: 10px;
    border: 2px solid #FFFF00;
}
.info-containerisation:hover { order: 2; }
.info-containerization div { background-color: #FFFF00; }
.info-onionrouting {
    order: 5;
    border-radius: 10px;
    border: 2px solid #FFA500;
}
.info-ringsignatures:hover { order: 4; }
.info-onionrouting div { background-color: #FFA500; }



.funding-section {
    text-align: center;
}
.funding-text {
    border: 2px solid #0000FF;
    padding: 30px;
    width: 50vw;
    margin: auto;
}
.funding-text h3 {
    text-align: left;
    margin-top: 1vh;
}



.footer {
    position: absolute;
    background: rgba(0,0,0,0.5);
    height: 4vh;
    width: 100%;
    font-size: 1.72vh;
}
.footer span {
    margin-top: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
}
#lhs { float: left; }
#rhs { float: right; }